@charset "utf-8";
/* CSS Document */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: 	#5A5A5A;
}

.header {
  position: fixed;
  top: 0;
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Vertically center the items */
  justify-content: center; /* Center items horizontally */
  background-color: black; /* Set the background color to black */
  padding: 30px 0; /* Adds space inside the container (top and bottom padding) */
  width: 100%; /* Ensures the background stretches across the entire page */
  height: 20px; /* Gives height to the header */
  color: white; /* Optional: changes the text color to white for better contrast */
	border: 2px solid grey;
}

/* Flexbox container for buttons */
.buttons-container {
  display: flex;
  gap: 50px; /* Space between buttons */
}

/* Center the logo and title */
.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

h1 {
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
  font-size: 30px;
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}


.button2 {
  margin-right: 125px; /* Moves the button away from the logo */
}

.button3 {
  margin-left: 125px; /* Moves the button away from the logo */
}


/* Style for buttons */
.button1, .button2, .button3, .button4 {
  height: 40px;
  width: 100px;
  background-color: #590098;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button1:hover, .button2:hover, .button3:hover, .button4:hover {
  background-color: #0056b3;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: sans-serif
}

h3 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: sans-serif
}

